.top-5 { margin-top:5%; }
.top-7 { margin-top:7%; }
.top-10 { margin-top:10%; }
.top-15 { margin-top:15%; }
.top-17 { margin-top:17%; }
.top-30 { margin-top:30%; }

/* ------------------------------------------------------------------------------------------------------------------- */

/* Bootstrap Carousel */
.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b4b4b4' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b4b4b4' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.card-chart {
    width: 90%;
    min-height: 256px;
    min-width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Build configuration UI header frame */
.subsection-header {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Table custom column widths */
.col-width-1 {
    width: 8.333333%;
}

.col-width-2 {
    width: 16.666667%;
}

.col-width-3 {
    width: 25%;
}

.col-width-5 {
    width: 41.66667%;
}

.col-width-6 {
    width: 50%;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* DataTables */
table.dataTable {
    border-collapse: collapse !important;
}

/* Change color of active pagination, to fit to the material blue grey css */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #607d8b;
    border-color: #607d8b;
}

/* Change color of inactive pagination, to fit to the material blue grey css */
.pagination > li > a, .pagination > li > span {
    color: #607d8b;
}

/* Change color of active pagination, to fit to the material blue grey css */
.page-item.active .page-link {
    background-color: #607d8b;
    border-color: #607d8b;
}

/* Add padding-top for more space */
.tab-content > .active {
    display: block;
    padding-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* DataTables Details */

/* Mouse cursor pointer for details icon */
div.details-control {
    position: relative;
    cursor: pointer;
}

/* Add font awesome plus icon when its closed */
.fa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* Add font awesome plus icon when its closed */
div.details-control:before {
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    padding: 12px;
    font-size: 1.5em;
    font-weight: 900;
    color: #b4b4b4;
}

/* Add font awesome minus icon when it's opened */
tr.shown div.details-control:before {
    content: "\f056";
    font-family: "Font Awesome 5 Free";
    padding: 12px;
    font-size: 1.5em;
    font-weight: 900;
    color: #b4b4b4;
}

/* ------------------------------------------------------------------------------------------------------------------- */


/* Font awesome icons float right */
.icon-right {
    font-family: "Font Awesome 5 Free";
    float: right;
    color: #b4b4b4;
    font-weight: 900;
    position: absolute;
    right: 25px;
    top: 10px;
}

/* Font awesome icons banner */
.banner {
    padding: 30px;
    color: #009688;
    font-size: 100px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Bar graph in table */
.bar-graph {
    float: left;
    color: transparent;
}

.severity-error {
    background-color: #FFCDD2;
}

.severity-error--hover:hover {
    background-color: #EF9A9A;
}

.severity-high {
    background-color: #FFE0B2;
}

.severity-high--hover:hover {
    background-color: #FFCC80;
}

.severity-normal {
    background-color: #FFF9C4;
}

.severity-normal--hover:hover {
    background-color: #FFF59D;
}

.severity-low {
    background-color: #F0F4C3;
}

.severity-low--hover:hover {
    background-color: #E6EE9C;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Mouse cursor pointer for clicking on doughnut charts */
.graph-cursor-pointer {
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Responsive classes */
/* Change graph size to displays with min-width 576px */
@media only screen and (min-width: 576px) {
    .graph-size {
        position: relative;
        width: 20vw;
        margin: auto;
    }
}

@media only screen and (max-width: 575px) {
    .card-marg-bot {
        margin-bottom: 2rem;
    }
}