name: 'GitHub CI'

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  build:

    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [17]
        include:
          - platform: ubuntu-latest
            jdk: 11
          - platform: macos-latest
            jdk: 11

    runs-on: ${{ matrix.platform }}
    name: on ${{ matrix.platform }} with JDK ${{ matrix.jdk }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '${{ matrix.jdk }}'
          check-latest: true
          cache: 'maven'
      - name: Build with Maven
        env:
          BROWSER: chrome-container
        run: mvn -V --color always -ntp clean verify --file pom.xml '-Djenkins.test.timeout=5000' '-Dgpg.skip'
