name: 'CodeCov'

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  coverage:

    runs-on: ubuntu-latest
    name: Create and upload coverage report

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9
      - name: Generate coverage with JaCoCo
        run: mvn -V --color always -ntp clean verify -Pci --file plugin/pom.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.5.0
        with:
          files: 'plugin/target/site/jacoco/jacoco.xml'
          token: ${{secrets.CODECOV_TOKEN}}
