name: 'Quality Monitor Comment'

on:
  workflow_run:
    workflows: [ "Quality Monitor Build" ]
    types: [ completed ]

permissions:
  actions: read
  contents: read
  pull-requests: write
  checks: write

jobs:
  comment:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    name: Comment main branch

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v6
      - name: Download Quality Reports from Quality Monitor Build workflow
        uses: dawidd6/action-download-artifact@v12
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: quality-reports
      - name: Read Quality Monitor Configuration
        id: quality-monitor
        run: echo "json=$(jq -c . .github/quality-monitor.json)" >> "$GITHUB_OUTPUT"
      - name: Read Quality Gates Configuration
        id: quality-gates
        run: echo "json=$(jq -c . .github/quality-gates.json)" >> "$GITHUB_OUTPUT"
      - name: Run Quality Monitor and Comment on PR
        uses: uhafner/quality-monitor@main
        with:
          config: ${{ steps.quality-monitor.outputs.json }}
          quality-gates: ${{ steps.quality-gates.outputs.json }}
          show-headers: true
          title-metric: none
